@model Space_Launches.Models.LaunchCollectionModel


<h2>@ViewBag.Title</h2>

<p>Total: @Html.DisplayFor(model => model.Count) </p>
<!-- p>Current Number of Results: Html.DisplayFor(model => model.CurrentCount()) </p -->

<table class="table table-striped">
    <thead class="thead-dark">
        <tr>
            <th scope="col">Name</th>
            <th scope="col">Status</th>
            <th scope="col">Launch Time</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var launch in Model.Results)
        {
        <tr>
            <td>@(launch.Name != null ? launch.Name : "n/a")</td>
            <td>@(launch.Status != null && launch.Status.Name != null ? launch.Status.Name : "n/a")</td>
            <td>@(launch.Net != null ? launch.Net : new DateTimeOffset())</td>
        </tr>
        }
    </tbody>
</table>
